.common-calendar > *{
    font-family: 'Nanum Gothic', sans-serif;
    text-align:center;
   
}

.common-calendar{
    margin:0px auto 0px auto;
    padding:0px;
    /* border: solid 0.5px grey; */
    width:100%;
    height:80%;
    font-size:20px;
    border-radius: 10px;
}

.calendar-header{
    height:7%;
}

.calendar-yoil{
    height:10%;
    width:100%;
    margin:0px;
    min-height:60px;
    font-size:20px;
    border-radius: 10px;
}

#yyyymm{
    margin:auto 0;
    vertical-align:middle;
    font-weight: 500;
    font-size:x-large;
}

.calendar-main{
    bottom:0px;
    height:85%;
    width:100%;
}
.calendar-main > .row{
    min-height:20%;
    margin:0px;
    width:100%;
    border-top:solid lightgrey 0.5px;
}

.day{
    text-align:center;
    font-size: medium;
    font-weight: 600;
    max-height:100%;
}

.invalid{
    opacity:0.3;
}

.event-click{
    cursor:pointer;
}

/* button */
.dailylog{
    font-size: x-small;
    padding:0px;
    margin:0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.today{
    /*background-color: rgb(231, 231, 231);*/
    border-color: gainsboro;
}

/* button */
.holiday{
    font-size: x-small;
    padding: 0px;
    margin:0px;
    height:inherit;
    width:inherit;
}

/*********************** 주간달력 *********************/
.weekly-calendar-style1{
    height: fit-content;
    width:100%;
}

.weekly-calendar-th-style1 :hover{
    cursor: pointer;
}
.weekly-content-form-style1{
    height:fit-content;
    font-size:medium;
    text-align:left;
}
.weekly-calendar-header-style1{
    padding:medium;
    font-weight: 700;
    font-size: x-large;
}

.weekly-content-style1{
    font:medium;
    font-weight: 500;
}

.weekly-calendar-border-style1{
    /*border:solid 0.5px grey;*/
}

.nanum-font{
    font-family: 'Nanum Gothic', sans-serif;
}

.font-small{
    font:small;
}

.display-none{
    display:none;
}