<!DOCTYPE html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">

    <link href="/css/common-layout.css" rel="stylesheet">
    <link href="/css/common-style.css" rel="stylesheet">
    <link href="/css/common-calendar.css" rel="stylesheet">

    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">

</head>
<style>
</style>
<body>
<nav id="top" class="common-box-shadow">
    <nav class="row nav-style1 background-color-style2">
        <div class="logo-div-style1">
            <a class="navbar-brand" href="#">
                <img src="./img/logo1.png" alt="검색조건" width="100px" height="32px">
            </a>
        </div>
        <div class="search-div-style1">
            <span><input class="search-bar-style1" placeholder="검색" aria-label="검색" type="텍스트"/></span>
            <span>
                <button class="common-img-button-style1" id="logout">
                    <img src="./img/search-24px.svg" alt="검색조건" width="23px" height="23px">
                </button>
            </span>
        </div>

        <div class="logout-div-style1">
            <a class="text-nowrap"></a>
            <button class="logout-button-style1 common-btn-style1" id="logout">
                로그아웃
            </button>
            </a>
        </div>
    </nav>
</nav>