
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- google material design-->
<script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>

<!-- datepickers -->
<script src="/static/js/datepicker/bootstrap-datepicker.js"></script>
<script src="/static/js/datepicker/bootstrap-datepicker.ko.js"></script>
<script src="/static/js/datepicker/datepicker-event.js"></script>
<script src="/static/js/datepicker/date-format.js"></script>
<script src="/static/js/mustache.min.js"></script>

<script src="/static/js/calendar/month-one-calendar-event.js"></script>
<script src="/static/js/calendar/modal-event.js"></script>
<script src="/static/js/month-one.js"></script>
