<!-- Modal that pops up when you click on "New Message" -->
<div id="dailylogModal" class="w3-modal" style="z-index:4">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-padding w3-red">
        <span onclick="document.getElementById('dailylogModal').style.display='none'"
              class="w3-button w3-red w3-right w3-large"><i class="fa fa-remove"></i></span>
            <h4>업무일지</h4>
        </div>
        <form class="w3-panel">
            <h4>
                <i class="fa fa-clock-o"></i>
                <input type="text" id="date-picker2" class="date-picker datepicker-style1 w3-light-grey" name="workingday" value="">
            </h4>
            <label>실시사항</label>
            <table class="w3-table-all w3-card-4" id="content1-table">
                <thead>
                <tr class="w3-row w3-grey">
                    <th class="w3-col l2">
                        이름
                    </th>
                    <th class="w3-col l10">
                        내용
                    </th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <!-- 동적으로 스크립트 넣기 -->
            </table>
            <hr>
            <label>기타사항</label>
            <table class="w3-table-all w3-card-4" id="content2-table">
                <thead>
                <tr class="w3-row w3-grey">
                    <th class="w3-col l2">
                        이름
                    </th>
                    <th class="w3-col l10">
                        내용
                    </th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <!-- 동적으로 스크립트 넣기 -->
            </table>
            <hr>
            <label>특별근무사항</label>
            <table class="w3-table-all w3-card-4" id="overtime-table">
                <thead>
                <tr class="w3-row w3-grey">
                    <th class="w3-col l2">
                        이름
                    </th>
                    <th class="w3-col l2">
                        시간
                    </th>
                    <th class="w3-col l8">
                        내용
                    </th>
                </tr>
                </thead>
                <!-- 동적으로 스크립트 넣기 -->
                <tbody>

                </tbody>
            </table>
            <div class="w3-section">
                <a class="w3-button w3-red" onclick="document.getElementById('dailylogModal').style.display='none'">취소 <i class="fa fa-remove"></i></a>
                <input type="button" class="w3-button w3-light-grey w3-right write-mode" onclick="callDailylogAcceptApi()" value = "승인" />
            </div>
        </form>
    </div>
</div>
